APP_NAME = Lab Gitea
RUN_MODE = prod
WORK_PATH = /data/gitea

[server]
DOMAIN = ${GITEA_DOMAIN}
ROOT_URL = https://${GITEA_DOMAIN}/
SSH_DOMAIN = ${GITEA_DOMAIN}
SSH_PORT = ${GITEA_SSH_PORT}
START_SSH_SERVER = false
LFS_START_SERVER = true

[database]
DB_TYPE = postgres
HOST = postgres:5432
NAME = ${GITEA_DB_NAME}
USER = ${GITEA_DB_USER}
PASSWD = ${GITEA_DB_PASSWORD}
SSL_MODE = disable

[service]
DISABLE_REGISTRATION = true
REQUIRE_SIGNIN_VIEW = false

[oauth2_client]
ENABLE_AUTO_REGISTRATION = true
USERNAME = email
UPDATE_AVATAR = true
ACCOUNT_LINKING = login

[lfs]
STORAGE_TYPE = gitea-lfs-minio

[storage.gitea-lfs-minio]
STORAGE_TYPE = minio
MINIO_ENDPOINT = minio:9000
MINIO_ACCESS_KEY_ID = ${GITEA_LFS_ACCESS_KEY}
MINIO_SECRET_ACCESS_KEY = ${GITEA_LFS_SECRET_KEY}
MINIO_BUCKET = ${GITEA_LFS_BUCKET}
MINIO_LOCATION = us-east-1
MINIO_USE_SSL = false
