LAB_PLATFORM_ROOT=/srv/lab-platform
ROOT_DOMAIN=lab.snu.ac.kr
AUTH_DOMAIN=auth.lab.snu.ac.kr
GITEA_DOMAIN=hub.lab.snu.ac.kr
PLANE_DOMAIN=lab.snu.ac.kr
MLFLOW_DOMAIN=mlflow.lab.snu.ac.kr
NEXTCLOUD_DOMAIN=files.lab.snu.ac.kr
COLLABORA_DOMAIN=office.lab.snu.ac.kr
GRIST_DOMAIN=data.lab.snu.ac.kr
OVERLEAF_DOMAIN=papers.lab.snu.ac.kr
MINIO_CONSOLE_DOMAIN=storage.lab.snu.ac.kr
TZ=Etc/UTC
