POSTGRES_IMAGE=postgres:16
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-generate-on-server

REDIS_IMAGE=redis:7-alpine
REDIS_PASSWORD=change-me-generate-on-server

MINIO_IMAGE=minio/minio:RELEASE.2025-04-22T22-12-26Z
MINIO_MC_IMAGE=minio/mc:RELEASE.2025-04-16T18-13-26Z
MINIO_ROOT_USER=change-me-generate-on-server
MINIO_ROOT_PASSWORD=change-me-generate-on-server

CORE_POSTGRES_PORT=5432
CORE_REDIS_PORT=6379
CORE_MINIO_API_PORT=9000
CORE_MINIO_CONSOLE_PORT=9001
