GITEA_IMAGE=gitea/gitea:1.22.6
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea_user
GITEA_DB_PASSWORD=change-me-generate-on-server
GITEA_SECRET_KEY=change-me-generate-on-server
GITEA_INTERNAL_TOKEN=change-me-generate-on-server
GITEA_LFS_JWT_SECRET=change-me-generate-on-server
GITEA_OIDC_CLIENT_ID=gitea
GITEA_OIDC_CLIENT_SECRET=change-me-after-authentik-provider
GITEA_SSH_PORT=2222
GITEA_LFS_BUCKET=gitea-lfs
